html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navbar */
.navbar{
    background-color: white;
    height: 70px;
    padding: 0 2px;
    position: fixed;
    z-index: 2;
    width: 100%;
    border-bottom: solid 0.5px rgb(209, 209, 209);

}

.navcontent{
    display: flex;
    width: 1000px;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: space-between;
}

.logo a img{
    padding-left: 50px;
    margin-top: 15px;
    height: 50px;
    text-decoration: none; position: relative;
}

.logo span{
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: super;
}


.navlogo{
    font-weight: 100;
    height: 60px;
    padding:0 ;
}

.menu{
    display: flex;
    list-style: none;
    text-transform: capitalize;
    padding-right: 5%;
    margin-top: 25px;
    height: 40px;  
    position: relative;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.menu li a:hover{
    color: lightseagreen
}

span li {
    list-style: none;
    padding-right: 20px;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: lighter;   
}


li a:hover{
    color: lightseagreen
}


/* about us */
.about-us{
    padding-top: 100px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    background-image: url(image/hero.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us .caption{
    margin-top: 100px;
    font-size: 100px;
    font-weight: bold;
    color: #1FA2DA;
    text-shadow: 3px 2px #000000;
}

.about-us .description{
    color: #F9F9F9;
    font-size: 26px;
    width: 700px;
    margin-left: auto !important;
    margin-right: auto !important;
    font-weight: bold;
}

/* facial recognition */

.showcase{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;

  margin-top: 50px;
  margin-right: 10px;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}


/* goal */
.goal-sect{
    padding-top: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 1100px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.vision,.mission,.story{
    margin-top: 10px;
}

#goal{
    margin-top: 100px;
    font-size: 70px;
    font-weight: bold;
    color: red;
    text-shadow: 3px 2px #9b9b9b;
}

.goal-group{
    display: flex;
    margin: 50px;
    text-align: center;
    justify-content: space-between;
}

#vision{
    font-size: 44px;
    font-weight: bold;
    color: #1FA2DA;
    text-decoration: underline red;
}

#mission{
    font-size: 44px;
    font-weight: bold;
    color: #1FA2DA;
    text-decoration: underline red;
}

#description{
    width: 300px;
    font-weight: bold;
    color: #4D4D4D;
}

.goal2{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    width: 500px
}

.story{
    font-size: 40px;
    font-weight: bold;
    color: red;
    text-shadow: 3px 2px #9b9b9b;
    ;
}

.history{
    font-weight: bold;
    color: #4D4D4D;
    width: 500px;
    padding-bottom: 200px;
}

/* Testimonies and reviews */

.checked{
    color: orange;
}

.testimonies{
    margin-top: 10px;
}

.testimony-header{
    font-size: 44px;
    font-weight: bold;
    color: #1FA2DA;
    text-decoration: underline red;
    text-align: center;
}

.bubbles{
    margin-top: 30px;
    text-align: center;
    display: flex;
    width: 1000px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.bubble{
    border: 1px solid;
    width: 400px;
    height: auto;
    margin: 10px;
    padding: 5px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.testimony{
    font-weight: bold;
    color: #4D4D4D;
}

.reviewer{
    font-weight: bold;
}

/*Contact*/
#contact-main{
    justify-content: center;
    text-align: center;
}

#contact{
    font-size: 44px;
    font-weight: bold;
    color: #1FA2DA;
    text-decoration: underline red;
}

.office{
margin-left: 30px;
}

.website{
margin-left: 30px; 
}

#gettouch,#our-office,#office-hour,#website-visit{
    font-size: 35px;
    font-weight: bold;
    color: #1FA2DA;
}

#form{
    display: flex  ;
}

.form-content{
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
}

.form-list{
    font-weight: bold;
    color: #4D4D4D;
    border-radius: 10px;
    width: 480px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.name{
    margin-top: 10px;
    display: flex;
    margin-left: 50px   ;

}

.l{
    margin-left: 50px;
}

input{
    padding: 10px;
}

.email,.message,button{
    margin-left: 50px;
}

button{
   border-radius: 10px;
   padding: 10px;
   width: 400px;
   cursor: pointer;
   margin-bottom: 2%;
}

/* footer */

.footer{
    background-color: black;
    height: 20%;
    text-align: center;
    line-height: 1.5;
    padding: 30px;
}

.rights{
    color: white;
}

.fa-brands{
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.fa-facebook:hover{
    color: #4267B2;
}

.fa-twitter:hover{
    color: #1DA1F2;
}

.fa-instagram:hover{
    color: #8134AF;
}